.quote {
  margin: 0;
}

.quote p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 106%;
  margin: 0;
  margin-bottom: 8px;
}

.quote cite {
  font-style: italic;
  font-weight: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 106%;
  color: var(--colorButton);
}
