.selectButton {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  background: var(--whiteF4);
  grid-area: 1 / 10 / 2 / 14;
  z-index: 10;
  align-self: start
}

.selectButton svg {
  transition: transform .1s ease-in-out;
  transform: rotate3d(1, 0, 0, 180deg);
}

.button {
  border-top: 1px solid var(--grayC4);
  padding: 20px 15px;
  text-align: start;
}

.dropdown {
  display: flex;
  flex-direction: column;
  background: var(--whiteF4);
  align-self: flex-start;
  position: absolute;
  z-index: 1000;
}

.selectButton,
.button {
  transition: background-color .15s ease-in-out;
  font-weight: 400;
  font-size: 16px;
  line-height: 106%;
  color: var(--gray);
}


.selectButton:hover,
.button:hover {
  background-color: var(--grayC4);
}

@media(max-width: 1366px) {

  .selectButton,
  .button {
    font-size: 14px;
  }
}

@media(max-width: 1024px) {
  .selectButton {
    grid-area: 1 / 7 / 2 / 14;
  }
}

@media(max-width: 568px) {
  .selectButton,
  .button {
    font-size: 12px;
    padding: 15px 10px;
  }
}
