@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 100;
  src: local('SF UI Display'),
    url('./fonts/SFUIDisplay-Thin.woff2') format('woff2'),
    url('./fonts/SFUIDisplay-Thin.woff') format('woff'),
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 200;
  src: local('SF UI Display'),
    url('./fonts/SFUIDisplay-Light.woff2') format('woff2'),
    url('./fonts/SFUIDisplay-Light.woff') format('woff'),
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  src: local('SF UI Display'),
    url('./fonts/SFUIDisplay-Regular.woff2') format('woff2'),
    url('./fonts/SFUIDisplay-Regular.woff') format('woff'),
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;
  src: local('SF UI Display'),
    url('./fonts/SFUIDisplay-Medium.woff2') format('woff2'),
    url('./fonts/SFUIDisplay-Medium.woff') format('woff'),
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 700;
  src: local('SF UI Display'),
    url('./fonts/SFUIDisplay-Bold.woff2') format('woff2'),
    url('./fonts/SFUIDisplay-Bold.woff') format('woff'),
}

html {
  scrollbar-gutter: stable;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--space);
  font-size: 14px;
  line-height: 16px;
  font-family: "SF UI Display", serif;
  background: var(--background);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  color: var(--gray);
}

* {
  color: var(--black);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  text-decoration: none;
}

h2 {
  margin: 0;
}

:root {
  --red: #dc3e22;
  --white: #FFFFFF;
  --buttonHover: #b7280f;
  --background: #FFFFFF;
  --whiteF4: #f4f4f4;
  --whiteE4: #e4e4e4;
  --whiteEC: #ececec;
  --whiteBorder: #e2e0e0;
  --grayC4: #c4c4c4;
  --gray: #333333;
  --gray99: #999999;
  --colorButton: #a8b64f;
  --colorButtonHover: #899441;
  --modalBackground: rgba(0, 0, 0, 0.5);
  --todoFocus: var(--whiteE4);
  --breakFocus: #d0d6a5;
  --headerColor: var(--background);
  --menuButtonHover: #e6dbdb;
  --focusColor: #ffdda9;
  --focusSvg: #FFAE35;
  --pauseColor: #dfdcfe;
  --pauseSvg: #9C97D7;
  --stopColor: #c5f1ff;
  --stopSvg: #7FC2D7;
}

.isDarkMode {
  --background: #0B1416;
  --gray: #f0f6fc;
  --whiteF4: #0F1A1C;
  --gray99: #f0f6fc;
  --whiteE4: #1a282d;
  --grayC4: #1a282d;
  --menuButtonHover: #1f333a;
  --headerColor: var(--whiteF4);
  --todoFocus: var(--grayC4);
  --whiteBorder: #121f24;
  --focusColor: #9c753b;
  --focusSvg: #f3a024;
  --pauseColor: #6a63b6;
  --pauseSvg: #3b3674;
  --stopColor: #288aa8;
  --stopSvg: #266579;
}

.loader {
  margin-top: 100px;
}

.loader svg {
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 2;
}

.loader::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: var(--red);
  opacity: 0.75;
  border-radius: 100%;
  animation: 1.5s ease-in-out 0s infinite normal none running scaleout;
  z-index: 1;
}

@keyframes scaleout {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
