.stops {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  grid-area: 7 / 9 / 9 / 14;
}

.stops svg {
  min-height: 129px;
  min-width: 129px;
}

.svgColor.stops svg * {
  stroke: var(--stopSvg);
}

.descr {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 137%;
  color: var(--gray);
}

.value {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 64px;
}

@media(max-width: 1366px) {
  .descr {
    font-size: 18px;
  }

  .value {
    font-size: 34px;
  }

  .stops svg {
    height: 80px;
    width: 80px;
    min-width: 80px;
    min-height: 80px;
  }
}

@media(max-width: 1024px) {
  .stops {
    grid-area: 10 / 1 / 11 / 14;
  }
}

@media(max-width: 768px) {
  .descr {
    font-size: 16px;
    gap: 5px;
  }

  .value {
    font-size: 24px;
  }

  .stops {
    padding: 15px;
  }

  .stops svg {
    height: 40px;
    width: 40px;
    min-width: 50px;
    min-height: 50px;
  }
}
